.converterForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.selectors {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	font-size: 0.75rem;
	font-weight: 700;
	color: var(--secondary);
	width: 100%;
}

.button {
	outline: none;
	cursor: pointer;
	background-color: var(--secondary);
	font-size: 1.25rem;
	color: var(--text);
	width: 100%;
	margin-top: 0.5rem;
	padding: 0.25rem;
	border: none;
	border-radius: 4px;
	transition: background-color 150ms ease-in-out;

	&:hover,
	&:focus-within {
		background-color: var(--accent);
	}
}

.result {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--primary);
}

.error {
	text-align: center;
	font-weight: 700;
	color: var(--error);
}
