.select {
	outline: none;
	border: none;
	background-color: var(--background-secondary);
	color: var(--text);
	width: 100%;
	padding: 0.5rem 0.75rem;
	border-radius: 4px;

	&:focus {
		color: var(--primary);
	}
}
