.numberInput {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	margin-top: 1rem;
}

.label {
	font-size: 0.75rem;
	font-weight: 700;
	color: var(--secondary);
}

.input {
	outline: none;
	width: 100%;
	background-color: var(--background-secondary);
	font-size: 1.25rem;
	color: var(--text);
	padding: 0.25rem 0.5rem 0.15rem;
	border-radius: 4px;
	border: 2px solid var(--background-secondary);
	transition: border-color 150ms ease-in-out;

	&:focus {
		border-bottom: 2px solid var(--secondary);
	}
}