.history {
	padding: 0 0.25rem;
	font-size: 0.85rem;

	p {
		margin: 0.25rem;
	}
}

.conversion {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px solid var(--background-secondary);

	&:first-child {
		border-top: 1px solid var(--background-secondary);
	}
}

.currency {
	display: flex;
	justify-content: space-between;
	color: var(--primary);
	width: 100%;
}

.value {
	font-weight: 700;
}
